div.login{
    display: flex;
    justify-content: center;
    div.flexLogin{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 50px 0px;
        div.content{
            div.flexContent{
                margin: 138px 100px 0px 0px;
                max-width: 440px;
                padding: 30px;
                img.logoLogIn{
                    &:hover{
                        opacity: 0.7;
                        cursor: pointer;
                    }
                }
                h1.titleLogIn{
                    margin: 24px 0px 16px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 28px;
                    letter-spacing: -0.5px;
                    color: #1A2649;
                }
                p.noteLogin{
                    margin-bottom: 24px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 150%;
                    color: #636A82;
                    span{
                        color: #F96F37;
                    }
                }
                div.form-group-login{
                    display: flex;
                    flex-direction:column;
                    label.form-label-login{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 150%;
                        color: #1A2649;
                    }
                    div.group-input-login{
                        margin: 8px 0px 16px;
                        display: flex;
                        flex-direction:row;
                        background: #F7F7F7;
                        border-radius: 6px;
                        input.form-control-login{
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 24px;
                            color: #636A82;
                            opacity: 1;
                            border: #F7F7F7;
                            padding: 12px 16px;
                            width: 380px;
                            z-index:1;
                        }
                        button.iconSignIn{
                            height: 40px;
                            border: transparent ;
                            background-color: transparent;
                            margin: 5px 0px 0px -44px;
                            z-index:2;
                        }
                    }
                }
                div.ForgotPassword{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 150%;
                    text-align: right;
                    color: #5F85F5;
                    &:hover{
                        opacity: 0.7;
                        cursor: pointer;
                    }
                    margin-bottom: 16px;
                }
                div.form-check{
                    label.tickAgree{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 150%;
                        color: #636A82;
                        width: 303px;
                        margin-bottom: 16px;
                    }
                }
                button.buttonLogin{
                    justify-content: center;
                    align-items: center;
                    padding: 12px;
                    gap: 10px;
                    width: 380px;
                    height: 48px;
                    background: #F96F37;
                    border: #F96F37;
                    border-radius: 6px;
                    flex: none;
                    order: 3;
                    align-self: stretch;
                    flex-grow: 0;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 24px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    margin: 8px 0px 24px;
                    &:hover{
                        opacity: 0.7;
                        cursor: pointer;
                    }
                }
                div.textEndLogIn{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 150%;
                    text-align: center;
                    color: #9A9A9A; 
                    span{
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 150%;
                        text-align: right;
                        color: #5F85F5;
                        &:hover{
                            opacity: 0.7;
                            cursor: pointer;
                        }
                    }               
                }
            }
        }
        
    }
}

@media (max-width: 1025px) {
    div.login{
        div.flexLogin{
            display: flex;
            flex-direction: column;
            div.content{
                display: flex;
                justify-content: center;
                div.flexContent{
                    margin: 0px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    div.login{
        div.flexLogin{
            display: flex;
            flex-direction: column;
            div.content{
                display: flex;
                justify-content: center;
                div.flexContent{
                    margin: 0px;
                }
            }
        }
        div.imgLogIn{
            img{
                width: 440px;
                height: 500px;
            }
        }
    }
}

@media (max-width: 480px) {
    div.login{
        div.flexLogin{
            padding: 0px;
            div.content{
                div.flexContent{
                    margin: 0px;
                    padding: 10px;
                    div.form-group-login{
                        div.group-input-login{
                            input.form-control-login{
                                width: 300px;
                            }
                        }
                    }
                    div.form-check{
                        label.tickAgree{
                            width: 223px;
                        }
                    }
                    button.buttonLogin{
                        width: 300px;
                    }
                }
            }
            div.imgLogIn{
                img{
                    width: 320px;
                    height: 500px;
                }
            }   
        }
    }
}